body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E441F;
  font-size: 28px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.icons {
  max-height: 30px;
  max-width: 30px;
}

/* footer */
footer {
  background-color: #e9ece9;
  width: 100%;
  padding: 0.75rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}
.copy-right {
  font-size: 1em;
  color: #1e441f;
  text-align: center;
  padding-left: 20px;
}
.social-button {
  border: none;
  margin: 0.2em;
  cursor: pointer;
  background-color: #e9ece9;
}
.footer-socials {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 900px) {
  .topnav {
    display: none;
  }
}