.img {
  width: 500px;
  height: 500px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
  list-style: none;
}

h1 {
  color: #1E441F;
  text-align: center;
}
.about-me-container {
  height: 400px;
  width: 400px;
  overflow: hidden;
}
.about-me-container img {
  transform: translate3d(0px, 0px, 0px);
}


.about-me-container img {
  transform: translate3d(0px, 0px, 0px);
    transition: transform .8s ease-in-out;
}
.about-me-container img:hover {
  transform: translate3d(0px, -400px, 0px);
}   